<!DOCTYPE html>
<html lang="en" data-theme="theme-container">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Stylesheets/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <form action="/login" method="POST" id="form" class="form">
        <h2>Login</h2>
        <div class="form-control">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Enter username" />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter password" />
        </div>
        <button type="submit">Login</button>
        <br />
        <small>Don't have an account ? </small>
        <small><a href="/register">Sign up</a></small>
        <br />
        <a href="/">Guest user</a>
      </form>
    </div>
    <!-- <script src="/client/script/script.js"></script> -->
    <script src="/public/js/theme.js"></script>
  </body>
</html>
