<link rel="stylesheet" href="/Stylesheets/sign.css" />
<title>Register</title>
<div class="container">
  <form action="/register" method="post" id="form" class="form">
    <h2>Register With Us</h2>
    <div class="form-control">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />
    </div>
    <div class="form-control">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required />
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">Register</button>
    <br />
    <small>Already have an account ?</small>
    <small><a href="/login">Login</a></small>
  </form>
</div>
<!-- <script src="script/script.js"></script> -->
